<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title> {% block title %}{% endblock title %} </title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta name="description" content="Arya Kumar's personal website." />

    <!-- Favicon -->
    <meta content="#000000" name="theme-color" />
    <link href="/icons/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png" />
    <link href="/icons/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png" />
    <link color="#5bbad5" href="/icons/safari-pinned-tab.svg" rel="mask-icon" />

    <!-- Stylesheet -->
    <link rel="preload" href="/styles.css" as="style" />
    <link href="/styles.css" rel="stylesheet" type="text/css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,600;1,300;1,600&display=swap">

    <!-- Extras -->
    {% block head %} {% endblock head %}
</head>

<body class="bg-offwhite">
    {% block content %}{% endblock content %}
</body>

</html>