{% extends "blog-base.html" %}
{% block title %}Arya's Blog{% endblock title %}

{% block posts %}
{% for page in section.pages %}
<div class="bg-bluenote bg-opacity-5 rounded-xl p-10 text-left space-y-3">
    <a class="no-underline un from-green-500 to-green-500 text-2xl sm:text-3xl lg:text-4xl text-gray-600 tracking-tight font-semibold hover:text-opacity-80"
        href="{{ page.path }}">
        {{ page.title | lower }}.</a>
    <p class="text-sm md:text-md lg:text-lg text-gray-600">{{ page.description }}</p>
    <p class="text-xs lg:text-sm text-gray-400 italic">{{ page.date }}</p>
</div>
{% endfor %}
{% endblock posts %}