{% extends "base.html" %}
{% block title %}Arya Kumar{% endblock title %}

{% block content %}
<canvas id="animation" class="w-full h-full fixed"></canvas>
<div class="p-12 space-y-10 font-mono relative z-10">
    <p>
        <span class="font-semibold text-4xl md:text-6xl lg:text-8xl text-gray-700 tracking-tight">Hi! I'm Arya
            Kumar,</span> <br />
        <span class="font-light text-2xl md:text-4xl lg:text-6xl text-gray-700">a computer science student at
            UofM.</span> <br />
    </p>
    <main class="max-w-7xl text-xl md:text-2xl lg:text-3xl space-y-7">
        <p>
            I have a passion for <span class="italic">high quality software</span> and
            <span class="italic">pure mathematics</span>. I'm currently a full time student,
            but sometimes I'll write things on my <a class="un" href="/blog/">blog</a>.
        </p>
        <p>
            I go by the handle
            <code class="bg-black bg-opacity-5 rounded px-1.5 select-all">@arya-k</code> on
            <a class="un hover:text-opacity-80" href="https://github.com/arya-k">Github</a>,
            <a class="un hover:text-opacity-80" href="https://linkedin.com/in/arya-k">LinkedIn</a>, and
            <a class="un hover:text-opacity-80" href="https://devpost.com/arya-k">Devpost</a>. Feel free to check out my
            <a class="un hover:text-opacity-80" href="/arya_kumar_resume.pdf" target="_blank">resume</a>, or send me an
            <a class="un hover:text-opacity-80" href="mailto:arkumar@umich.edu">email</a>.
        </p>
    </main>
</div>
<script type="text/javascript" src="scripts/index.js"></script>
{% endblock content %}