@tailwind base;
@tailwind utilities;


@layer utilities {
    .un {
        background-position: 0 1.24em;
        background-repeat: repeat-x;
        background-size: 1px .05em;
    }

    .un:not(:hover) {
        @apply bg-gradient-to-r;
    }
}

a {
    @apply no-underline un from-green-500 to-green-500 text-black;
    background-size: 1px 0.1em;
}